{% extends 'base.html' %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ article.title | striptags }} - {{ SITENAME }}{% endblock %}
{% block subtitle%}{{ article.summary | truncate(200) | striptags | escape }}{% endblock %}

{% block content %}
<header class="hero text-center">
  <h1 class="intro-title">{{ article.title | striptags }}</h1>
  <div class="meta">
    {{ article.locale_date }}
  </div>
</header>
<article class="main container">
  {{ article.content }}
</article>
{% if article.gallery %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js" integrity="sha512-BrvVYNhKh6yST24E5DY/LopLO5d+8KYmIXyrpBIJ2PK+CyyJw/cLSG/BfJomWLC1IblNrmiJWGlrGueKLd/Ekw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.2.0/jquery.magnific-popup.min.js" integrity="sha512-fCRpXk4VumjVNtE0j+OyOqzPxF1eZwacU3kN3SsznRPWHgMTSSo7INc8aY03KQDBWztuMo5KjKzCFXI/a5rVYQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
$('.gallery').each(function() {
  $(this).magnificPopup({
    delegate: 'a',
    type: 'image',
    gallery: {
      enabled: true,
      navigateByImgClick: true,
      preload: [1,2]
    },
    image: {
      titleSrc: function(item) {
        return item.el.find('img').attr('alt');
      }
    },
  });
});
</script>
{% endif %}
{% endblock %}
