<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
{% block head %}
<meta charset="utf-8">
<title>{% block title %}{{ SITENAME | striptags }}{% endblock title %}</title>
<meta name="description" content="{% block subtitle %}{{ SITENAME | striptags }}{% endblock subtitle %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="generator" content="Pelican">
{% assets filters="cssmin", output="css/style.css", "chota.min.css", "nord.css", "onur.css", "pygments-nord.css" %}
<link rel="stylesheet" href="{{SITEURL}}/{{ASSET_URL}}" screen="media">
{% endassets %}
{% if (article and article.gallery) %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.2.0/magnific-popup.min.css" integrity="sha512-lvaVbvmbHhG8cmfivxLRhemYlTT60Ly9Cc35USrpi8/m+Lf/f/T8x9kEIQq47cRj1VQIFuxTxxCcvqiQeQSHjQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
{% endif %}
<link rel="icon" type="image/svg+xml" href="{{ SITEURL }}/favicon.svg">
{% if FEED_ALL_ATOM %}
<link rel="alternate" type="application/atom+xml" href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" title="{{ SITENAME }} Full Atom Feed">
{% endif %}
{% if FEED_ALL_RSS %}
<link rel="alternate" type="application/rss+xml" href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" title="{{ SITENAME }} Full RSS Feed">
{% endif %}
{% if FEED_ATOM %}
<link rel="alternate" type="application/atom+xml" href="{{ FEED_DOMAIN }}/{%if FEED_ATOM_URL %}{{ FEED_ATOM_URL }}{% else %}{{ FEED_ATOM }}{% endif %}" title="{{ SITENAME }} Atom Feed">
{% endif %}
{% if FEED_RSS %}
<link rel="alternate" type="application/rss+xml" href="{{ FEED_DOMAIN }}/{% if FEED_RSS_URL %}{{ FEED_RSS_URL }}{% else %}{{ FEED_RSS }}{% endif %}" title="{{ SITENAME }} RSS Feed">
{% endif %}
{% if CATEGORY_FEED_ATOM and category %}
<link rel="alternate" type="application/atom+xml" href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_ATOM_URL %}{{ CATEGORY_FEED_ATOM_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}{% endif %}" title="{{ SITENAME }} Categories Atom Feed">
{% endif %}
{% if CATEGORY_FEED_RSS and category %}
<link rel="alternate" type="application/rss+xml" href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_RSS_URL %}{{ CATEGORY_FEED_RSS_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_RSS.format(slug=category.slug) }}{% endif %}" title="{{ SITENAME }} Categories RSS Feed">
{% endif %}
{% if TAG_FEED_ATOM and tag %}
<link rel="alternate" type="application/atom+xml" href="{{ FEED_DOMAIN }}/{% if TAG_FEED_ATOM_URL %}{{ TAG_FEED_ATOM_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_ATOM.format(slug=tag.slug) }}{% endif %}" title="{{ SITENAME }} Tags Atom Feed">
{% endif %}
{% if TAG_FEED_RSS and tag %}
<link rel="alternate" type="application/rss+xml" href="{{ FEED_DOMAIN }}/{% if TAG_FEED_RSS_URL %}{{ TAG_FEED_RSS_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_RSS.format(slug=tag.slug) }}{% endif %}" title="{{ SITENAME }} Tags RSS Feed">
{% endif %}
{% endblock head %}
</head>

<body>
<script>
function switchMode() {
  const bodyClass = document.body.classList;
  bodyClass.contains("dark") ? bodyClass.remove("dark") : bodyClass.add("dark");
}

if (window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches) {
  switchMode();
}

</script>
{% block navigation %}
{% include 'navigation.html' %}
{% endblock %}

{% block content %}{% endblock %}
{% block footer %}
{% include 'footer.html' %}
{% endblock %}

</body>
</html>
