{% extends 'base.html' %}

{% block title %}{{ category | title }} - {{ SITENAME }}{% endblock %}

{% block content %}
<header class="hero text-center">
  <h1 class="intro-title">{{ category | title }}</h1>
</header>

<section class="main container">
  <article>
    <h3>English Posts</h3>
    <ul>
    {% for article in dates if article.lang == 'en' %}
      <li>{{ article.date.strftime('%Y-%m-%d') }} &mdash; <a href="{{ SITEURL }}/{{ article.url }}" lang="{{ article.lang }}">{{ article.title }}</a></li>
    {% endfor %}
    </ul>
    <h3>Turkish Posts</h3>
    <ul>
    {% for article in dates if article.lang == 'tr' %}
      <li>{{ article.date.strftime('%Y-%m-%d') }} &mdash; <a href="{{ SITEURL }}/{{ article.url }}" lang="{{ article.lang }}">{{ article.title }}</a></li>
    {% endfor %}
    </ul>
  </article>
</section>
{% endblock %}
