<footer class="footer text-center">
  &copy; 2007-2024 Onur Aslan / Content is available under <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a> / <a href="https://gitlab.com/onuras/onuras.gitlab.io" target="_blank">Website source code</a>
</footer>
