{% extends "base.html" %}

{% block content %}
<article class="main container page author">
  <h1>Onur Aslan</h1>
  <p>
    <img src="{{SITEURL}}/static/profile_150.jpg" alt="Onur Aslan" class="profile-picture">

    Linux System Administrator, DevOps Engineer and Software Developer
    with more than 10 years of experience in architecthing, automating
    and optimizing mission critical deployments over bare metal servers
    and cloud. Proficient with configuration management tools and CI/CD
    pipelines along with Docker and Kubernetes.
  </p>

  <h2>Projects</h2>
  <ul>
    <li>
      <a href="https://github.com/rust-lang/docs.rs" target="_blank">
        docs.rs
      </a>
      &mdash;
      crates.io documentation generator.
    </li>
    <li>
      <a href="https://github.com/onur/acme-client" target="_blank">
        acme-client
      </a>
      &mdash;
      Yet another Let's Encrypt client and library written in Rust.
    </li>
    <li>
      <a href="https://github.com/onur/img10" target="_blank">
        Img10
      </a>
      &mdash;
      Temporary image hosting service based on Google App Engine and Google Cloud Storage developed in Python.
    </li>
    <li>
      <a href="https://github.com/onur/sysinfo-web" target="_blank">
        sysinfo-web
      </a>
      &mdash;
      Lightweight system monitor and process viewer written in Rust.
    </li>
  </ul>

  <h2>Experience</h2>
  <ul>
    <li><a href="https://www.atolye15.com/">Atölye15</a> (DevOps Engineer) / Remote / October 2023 &mdash; Present</li>
    <li><a href="https://www.namecheap.com/">Namecheap</a> (Site Reliability Engineer) / Remote / June 2022 &mdash; October 2023</li>
    <li><a href="https://www.defensx.com/">DefensX</a> (DevOps Engineer) / Remote / Feb 2019 &mdash; June 2022</li>
  </ul>

  {% for category, articles in categories %}
  <h2>{{ category | title }}</h2>
  <ul>
  {% for article in articles %}
    <li><span class="date">{{ article.date.strftime('%Y-%m-%d') }}</span> &mdash; <a href="{{ SITEURL }}/{{ article.url }}" lang="{{ article.lang }}">{{ article.title }}</a>{% if article.lang == 'tr' %} <em>Turkish</em>{% endif %}</li>
  {% endfor %}
  </ul>
  {% endfor %}
</article>
{% endblock %}
