<nav class="nav container">
  <div class="nav-left">
    <a href="{{ SITEURL }}/cv/">CV</a>
    {% if THEME_SETTINGS.show_categories_in_navigation %}
    {% for category, articles in categories %}
    <a href="{{ SITEURL }}/{{ category.url }}">{{ category | title }}</a>
    {% endfor %}
    {% endif %}
  </div>
  <div class="nav-center">
    <a href="{{ SITEURL }}/" class="brand">
      Onur Aslan
    </a>
  </div>
  <div class="nav-right">
    <a href="#" id="theme-switch" onclick="switchMode()" aria-label="Dark mode switch"></a>
    <a href="https://github.com/onur" class="github-icon" aria-label="GitHub Profile"></a>
{% if FEED_ATOM %}
    <a href="{{ FEED_DOMAIN }}/{%if FEED_ATOM_URL %}{{ FEED_ATOM_URL }}{% else %}{{ FEED_ATOM }}{% endif %}"></a>
{% endif %}
  </div>
</nav>
