{% extends 'base.html' %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ page.title | striptags }} - {{ SITENAME }}{% endblock %}
{% block subtitle%}{{ page.summary | truncate(200) | striptags | escape }}{% endblock %}

{% block content %}
<section class="main container page">
  <header>
    <h1>{{ page.title | striptags }}</h1>
  </header>
  <article>
    {{ page.content }}
  </article>
</section>
{% endblock %}
