:root {
    --bg-color: rgb(242, 244, 248);
    --bg-secondary-color: var(--nord6);
    --color-primary: var(--nord10);
    --color-lightGrey: var(--nord4);
    --color-darkGrey: var(--nord0);
    --color-error: var(--nord11);
    --color-success: var(--nord14);
    --grid-maxWidth: 960px;
    --font-color: var(--nord0);
    --strong-color: var(--nord0);
}
body.dark {
    --bg-color: #1d2129;
    --bg-secondary-color: #20252e;
    --color-primary: var(--nord9);
    --color-lightGrey: var(--nord3);
    --font-color: var(--nord4);
    --strong-color: var(--nord6);
}
p {
    margin: 1rem 0;
}
h2, h3, h4, h5, h6 {
    color: var(--strong-color);
    padding-top: 2rem;
}
h1 {
    border-bottom: 3px solid var(--color-lightGrey);
}
h2 {
    border-bottom: 1px solid var(--color-lightGrey);
}
h4 {
    margin: 0;
    padding: 0;
}
strong {
    color: var(--strong-color);
}
pre {
    overflow-x: auto;
    padding: 2rem;
}
pre, .toc,
body.dark pre, body.dark .toc {
    background-color: var(--bg-secondary-color);
}
.button {
    color: var(--color-primary);
}
blockquote, pre, .toc {
    border-radius: 5px;
}
.main {
    background-color: #FFF;
    margin: 0 auto 20px auto;
    box-shadow: rgb(184 194 215 / 25%) 0px 4px 6px, rgb(184 194 215 / 10%) 0px 5px 7px;
    border-radius: 5px;
    padding: 2rem 3rem;
}
.main img.thumbnail {
    max-width: 200px;
}
body.dark .main {
    background-color: rgb(36, 41, 51);
    box-shadow: rgb(15 17 21 / 25%) 0px 4px 6px, rgb(15 17 21 / 10%) 0px 5px 7px;
}
a {
    font-weight: 600;
}
pre code {
    white-space: pre;
}
code, kbd {
    color: var(--font-color);
}
hr {
    margin: 5rem 0;
}
.col, [class*=" col-"], [class^=col-] {
    margin-bottom: 0;
}

span.date {
    display: inline-block;
    width: 100px;
}

/* Gallery */
.gallery img {
    border-radius: 5px;
}

/* TODO: Make TOC better */
.toc {
    display: inline-block;
    padding: 1rem 2rem;
    margin-top: 1rem;
    margin-right: 1rem;
}
.toc .toctitle {
    display: none;
    text-align: center;
    border-bottom: 2px solid var(--color-lightGrey);
}
.toc ul {
    /*margin: 2px 5px 2px 0;*/
    margin: 0.5rem 0;
    padding: 0 2rem;
}

/* Navigation */
.nav {
    margin: 0 auto;
    background-color: var(--bg-color);
}
.nav a {
    font-weight: normal;
    color: var(--font-color);
}
.nav a.brand {
    font-size: 1.2em;
    color: var(--font-color);
}
.nav a path {
    fill: var(--font-color);
}

.nav-right a {
	padding: 1rem 1rem;
}

/* Title */
.hero {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
}
.hero h1 {
    font-size: 5rem;
    margin: 0;
    padding: 40px 20px 20px 20px;
    border-bottom: none;
}
.hero div.meta {
    font-size: 0.9em;
    color: var(--color-primary);
    display: inline-block;
    border-top: 2px solid var(--color-lightGrey);
}

/* Footer */
.footer {
    margin: 0 auto 20px auto;
    font-size: 0.8em;
}

/* Author card */
.author .profile-picture {
    max-width: 150px;
    border-radius: 100%;
    margin-left: 1rem;
    float: right;
    box-shadow: rgb(15 17 21 / 25%) 0px 4px 6px, rgb(15 17 21 / 10%) 0px 5px 7px;
}
.page h1 {
    margin: 0 0 1rem 0;
}

/* Responsiveness */
@media only screen and (max-width: 640px) {
    .container {
        width: 100%;
    }
    blockquote {
        margin: 1rem;
    }
}

/* Printing rules */
@media print {
    .nav, .footer {
        display: none;
    }
    .main, .container, .page {
        padding: 0;
        margin: 0;
        width: 100%;
        box-shadow: none;
    }
}

/* Icons */
.nav-right a {
    width: 36px;
    background-repeat: no-repeat;
    background-position: center;
}

#theme-switch {
    background-image: url("data:image/svg+xml,<svg version='1.1' class='has-solid ' viewBox='0 0 36 36' preserveAspectRatio='xMidYMid meet' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' focusable='false' role='img' width='24' height='24' fill='%232e3440'><path d='M31,27.19a1,1,0,0,0-1-.56c-.28,0-.56,0-.85,0A11,11,0,0,1,24.92,5.61a1,1,0,0,0,.61-1,1,1,0,0,0-.67-.91,14.7,14.7,0,0,0-5-.87,15.12,15.12,0,0,0,0,30.24,14.78,14.78,0,0,0,11-4.81A1,1,0,0,0,31,27.19ZM19.89,31.12a13.12,13.12,0,0,1,0-26.24,11.81,11.81,0,0,1,2,.16,13,13,0,0,0,5.72,23.53A12.75,12.75,0,0,1,19.89,31.12Z' class='clr-i-outline clr-i-outline-path-1'/><path d='M29.2,26.72A12.07,12.07,0,0,1,22.9,4.44,13.68,13.68,0,0,0,19.49,4a14,14,0,0,0,0,28,13.82,13.82,0,0,0,10.9-5.34A11.71,11.71,0,0,1,29.2,26.72Z' class='clr-i-solid clr-i-solid-path-1' style='display:none'/></svg>");
}
body.dark #theme-switch {
    background-image: url("data:image/svg+xml,<svg width='24' height='24' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg' fill='%23eceff4'><path d='M1120 576q0 13-9.5 22.5t-22.5 9.5-22.5-9.5-9.5-22.5q0-46-54-71t-106-25q-13 0-22.5-9.5t-9.5-22.5 9.5-22.5 22.5-9.5q50 0 99.5 16t87 54 37.5 90zm160 0q0-72-34.5-134t-90-101.5-123-62-136.5-22.5-136.5 22.5-123 62-90 101.5-34.5 134q0 101 68 180 10 11 30.5 33t30.5 33q128 153 141 298h228q13-145 141-298 10-11 30.5-33t30.5-33q68-79 68-180zm128 0q0 155-103 268-45 49-74.5 87t-59.5 95.5-34 107.5q47 28 47 82 0 37-25 64 25 27 25 64 0 52-45 81 13 23 13 47 0 46-31.5 71t-77.5 25q-20 44-60 70t-87 26-87-26-60-70q-46 0-77.5-25t-31.5-71q0-24 13-47-45-29-45-81 0-37 25-64-25-27-25-64 0-54 47-82-4-50-34-107.5t-59.5-95.5-74.5-87q-103-113-103-268 0-99 44.5-184.5t117-142 164-89 186.5-32.5 186.5 32.5 164 89 117 142 44.5 184.5z'/></svg>");
}
.github-icon {
    background-image: url("data:image/svg+xml,<svg width='24' height='24' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg' fill='%232e3440'><path d='M896 128q209 0 385.5 103t279.5 279.5 103 385.5q0 251-146.5 451.5t-378.5 277.5q-27 5-40-7t-13-30q0-3 .5-76.5t.5-134.5q0-97-52-142 57-6 102.5-18t94-39 81-66.5 53-105 20.5-150.5q0-119-79-206 37-91-8-204-28-9-81 11t-92 44l-38 24q-93-26-192-26t-192 26q-16-11-42.5-27t-83.5-38.5-85-13.5q-45 113-8 204-79 87-79 206 0 85 20.5 150t52.5 105 80.5 67 94 39 102.5 18q-39 36-49 103-21 10-45 15t-57 5-65.5-21.5-55.5-62.5q-19-32-48.5-52t-49.5-24l-20-3q-21 0-29 4.5t-5 11.5 9 14 13 12l7 5q22 10 43.5 38t31.5 51l10 23q13 38 44 61.5t67 30 69.5 7 55.5-3.5l23-4q0 38 .5 88.5t.5 54.5q0 18-13 30t-40 7q-232-77-378.5-277.5t-146.5-451.5q0-209 103-385.5t279.5-279.5 385.5-103zm-477 1103q3-7-7-12-10-3-13 2-3 7 7 12 9 6 13-2zm31 34q7-5-2-16-10-9-16-3-7 5 2 16 10 10 16 3zm30 45q9-7 0-19-8-13-17-6-9 5 0 18t17 7zm42 42q8-8-4-19-12-12-20-3-9 8 4 19 12 12 20 3zm57 25q3-11-13-16-15-4-19 7t13 15q15 6 19-6zm63 5q0-13-17-11-16 0-16 11 0 13 17 11 16 0 16-11zm58-10q-2-11-18-9-16 3-14 15t18 8 14-14z'/></svg>");
}
body.dark .github-icon {
    background-image: url("data:image/svg+xml,<svg width='24' height='24' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg' fill='%23eceff4'><path d='M896 128q209 0 385.5 103t279.5 279.5 103 385.5q0 251-146.5 451.5t-378.5 277.5q-27 5-40-7t-13-30q0-3 .5-76.5t.5-134.5q0-97-52-142 57-6 102.5-18t94-39 81-66.5 53-105 20.5-150.5q0-119-79-206 37-91-8-204-28-9-81 11t-92 44l-38 24q-93-26-192-26t-192 26q-16-11-42.5-27t-83.5-38.5-85-13.5q-45 113-8 204-79 87-79 206 0 85 20.5 150t52.5 105 80.5 67 94 39 102.5 18q-39 36-49 103-21 10-45 15t-57 5-65.5-21.5-55.5-62.5q-19-32-48.5-52t-49.5-24l-20-3q-21 0-29 4.5t-5 11.5 9 14 13 12l7 5q22 10 43.5 38t31.5 51l10 23q13 38 44 61.5t67 30 69.5 7 55.5-3.5l23-4q0 38 .5 88.5t.5 54.5q0 18-13 30t-40 7q-232-77-378.5-277.5t-146.5-451.5q0-209 103-385.5t279.5-279.5 385.5-103zm-477 1103q3-7-7-12-10-3-13 2-3 7 7 12 9 6 13-2zm31 34q7-5-2-16-10-9-16-3-7 5 2 16 10 10 16 3zm30 45q9-7 0-19-8-13-17-6-9 5 0 18t17 7zm42 42q8-8-4-19-12-12-20-3-9 8 4 19 12 12 20 3zm57 25q3-11-13-16-15-4-19 7t13 15q15 6 19-6zm63 5q0-13-17-11-16 0-16 11 0 13 17 11 16 0 16-11zm58-10q-2-11-18-9-16 3-14 15t18 8 14-14z'/></svg>");
}
